@page "/items/stores/{ItemId:guid}"
@inherits ViewBase

<FormContainer>
    <h4>Stores for item @itemModel.ItemName</h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Store</th>
                <th>Item</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <Virtualize Items=itemStoresList Context=item>

            <tr
                style="background-color:@(item.ItemStoreId == null?"#fdf0e8":"#e6f1ea")">
                <td>@item.StoreName</td>
                <td>@item.ItemName</td>
                <td>@item.Quantity</td>
                <td>
@if(item.ItemStoreId == null)
{
      <button class="btn btn-success" @onclick="@(()=>AddItemToStore(item))">
                        <i class="fa fa-plus"></i>
                    </button>
}
else
{
    <span></span>
}
                </td>

               
            </tr>
            </Virtualize>
        </tbody>
    </table>
</FormContainer>
